.button{
    -fx-background-color:rgba(0,0,0,1);
    -fx-background-radius:0px;
}
.button:hover{
    -fx-background-color:rgba(0,0,0,0.2);
    -fx-background-radius:0px;
}

.clipContent{
    -fx-background-color:rgba(255,255,255,1);
    -fx-background-radius:0px;
    -fx-padding:5px;
    -fx-border-color:rgba(123,186,238,0.5);
    -fx-border-width: 0 1px 0 0;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}
.clipContent:hover{
    -fx-background-color:rgba(123,186,238,0.3);
}

.clipContent2{
    -fx-background-color:rgba(244,244,244,1);
    -fx-background-radius:0px;
    -fx-padding:5px;
    -fx-border-color:rgba(123,186,238,0.5);
    -fx-border-width: 0 1px 0 0;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}
.clipContent2:hover{
    -fx-background-color:rgba(123,186,238,0.3);
}

.clipBar{
    -fx-pref-height: 50px;
    -fx-pref-width: 600px;
}